/.AccessControlValidator.java._trace
/.IllegalInfluenceResult.java._trace
/.TransitiveClosureCalculator.java._trace
/TransitiveClosureCalculator.java
/.ViolationGenerator.java._trace
/.RbacViolationGenerator.java._trace
/.OclViolationGenerator.java._trace
