/.M2TGenerator.java._trace
/.SolidityContractGenerationTemplate.java._trace
/.SolidityFunctionGenerationTemplate.java._trace
/M2TGenerator.java
/SolidityContractGenerationTemplate.java
/SolidityFunctionGenerationTemplate.java
